body{
	background-color : #FFF8DC ;
}

img.logo{
	width: 150px;
}

img.logo:hover{
	width: 150px;
	text-shadow: 2px 1px 14px rgba(121,86,8,0.72);
}

.menu{
	color: #4D4817;
	background-color: transparent;
	text-decoration: none;
}

.menu:hover{
	color: #12120E;
	text-shadow:-1px 4px 12px rgba(0,0,0,0.83) ;
	background-color: transparent;
	text-decoration: none;
}

.main{
	padding: 30px;
	color: white;
	border-radius : 10px;
	background-color: #000000  ;
}

.border{
	padding-bottom :4px;
}

.admin-bg-image{
	
	background-image: url("imgs/admin_bg.png");
	background-repeat: no-repeat;
	
}

.admin-card{
	border-radius: 15px;
	background: #FFFAF0 ;
}

.moviecard{
	background-color:#F5F5F5;
}

hr.new5 {
  border-top:5px dashed #000000;
}

.card-image{
	height: 50%;
	width: 30%;
}

.card-img-top {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
